name: CI

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main, '**workflows?**' ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    if: >-
      ${{ !((github.event_name == 'pull_request' 
          && contains(github.event.pull_request.title, '[ci-skip]'))
        || (github.event_name == 'push' 
          && contains(github.event.head_commit.message, '[ci-skip]'))) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
          cache-dependency-path: ./package-lock.json
      - run: npm install
      - name: Run tests
        run: |
          chmod +x ./scripts/test.sh
          npm test -- --colors
  
  linter:
    runs-on: ubuntu-latest
    if: >-
      ${{ !((github.event_name == 'pull_request' 
          && contains(github.event.pull_request.title, '[ci-skip]'))
        || (github.event_name == 'push' 
          && contains(github.event.head_commit.message, '[ci-skip]'))) }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
          cache-dependency-path: ./package-lock.json
      - name: Install npm pacakges
        run: npm ci
      # see https://www.npmjs.com/package/eslint#installation-and-usage
      - name: Run eslint
        run: ./node_modules/.bin/eslint --max-warnings 0 ./
      - name: Run custom linters
        run: node ./scripts/find_bad_import.js
      - name: Check that code is formatted
        run: chmod +x ./scripts/format_check.sh && ./scripts/format_check.sh
  
  
  build:
    runs-on: ubuntu-latest
    if: >-
      ${{ !((github.event_name == 'pull_request' 
          && contains(github.event.pull_request.title, '[ci-skip]'))
        || (github.event_name == 'push' 
          && contains(github.event.head_commit.message, '[ci-skip]'))) }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
          cache-dependency-path: ./package-lock.json
      - name: Install npm pacakges
        run: npm ci
      - name: Run build_libs.sh
        run: |
          chmod +x ./scripts/build_libs.sh
          ./scripts/build_libs.sh
      - name: Generate texture atlas
        run: node ./scripts/make_atlas.cjs
        
      - name: Commit texture atlas
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Build texture atlas
      

